:root{
  --emerald: #10b981; 
  --purple: #6b21a8;
  --orange: #c2410c;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: var(--emerald);
}

table{
  border-spacing: 0.3rem;
}

td, th{
  border: 2px solid var(--purple);
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

th{
  border:5px solid var(--purple);
}

input#file-input{
  border: 3px solid var(--orange);
  padding: 2rem 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}